.form-content {
    background-color: white;
    padding: 5%;
    width: 70%;
    display: block;
    margin: 5% auto auto auto;

}
.imagePersonal {
    display: block;
    margin: auto;
    max-width: 40%;
}
.tituloDatosPersonales{
    text-align: center;
    color: #888;
}
.img-card{
    padding: 1%;
    max-width: 50%;
}
